* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1919;
}

#office {
  width: 600px;
  height: 400px;
  background-color: #eaeaea;
  border: 2px solid #000;
  position: relative;
}

#character {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  position: absolute;
  top: 180px;
  left: 280px;
  transition: top 0.1s, left 0.1s;
}
